<h1 class="page-header">Learn Rails</h1>
<div class="body-box">
	<div class="jumbotron">
		
		<p class="text">Hey, I am Prabhakar Mudliyar ,an ROR developer from India. Learn Rails, is actually an website made by me while I am still learning the language Ruby on Rails. 
		</p>
		<p class="text">Learn Rails bascially is an playground for me, in which I can try and implement the crafts of ROR language.
		</p>
		<%= social_share_button_tag("My Site") %>
	

	</div>
</div>


